<%- include("partials/header") %>


<div class="m-4">
  <div class="row">
    <div class="col-lg-3">
      <div class="row my-2">
        <div class="col-lg-4">State:</div>
        <div class="col-lg-8">
          <div class="select">
            <select class="form-select" id="ddn_State" onchange="getZips()">
              <option value="0">Select State </option>
              <% for(var v=0; v<state.length; v++) { %>
              <option value="<%=state[v]["State"]%>"><%=state[v]["State"]%>
              </option>
              <% } %>
            </select>
          </div>
        </div>
      </div>
      <div class="row my-2">
        <div class="col-lg-4">Zip:</div>
        <div class="col-lg-8">
          <div class="select" style="display: none !important;" id="div_ddnZip">
          </div>
        </div>
      </div>
      <div class="row my-2">
        <button class="btn btn-primary" onclick="getMap()">Get Map</button> 
      </div>


    </div>
    <div class="col-lg-6">
      <div class="card">
        <div class="card-header text-center">
          <h6 class="card-subtitle p-2">Hover Over Zip Code to View Info (i.e Population Desity)</h6>
          <h6 class="card-subtitle p-2">Hover Over Stores to view Info (i.e Rank)</h6>
        </div>
        <div class="card-body">
          <div class="mapouter">
            <div class="gmap_canvas">
              <div id="map" style="height: 70vh;"></div> 
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-2">
      <table class="table mb-4 mt-4" style="font-size: 10px; border: aliceblue;">
        <tbody>
          <tr>
            <td><i class="fas fa-circle text-primary fa-fw mx-1"></i>In Distribution Stores</td>
          </tr>
          <tr>
            <td><i class="fas fa-circle text-warning fa-fw mx-1"></i>DRT Stores</td>
          </tr>
          <tr>
            <td><i class="fas fa-circle text-danger fa-fw mx-1"></i>In Distribution + DRT Stores</td>
          </tr>
          <tr>
            <td><i class="fas fa-circle text-success fa-fw mx-1"></i>Not in Distribution or DRT</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

<script src="/js/map.js"></script>


  <!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2CjlDccZg6IKGgA9p9-f575JICUX70D0&callback=initMap&v=weekly" defer></script> -->
  <%- include("partials/footer") %>